---
title: ToDoリストの使い方確認 / ふたりのToDoリスト
---

= partial('header', locals: { href: "normal-1__top.html" })

.about-task.os1-content
  %a.task-title.-done{ href: "task__tutorial-0.html" }
    .checkbox.-done
      %svg{ height: "11px", version: "1.1", viewbox: "0 0 15 11", width: "15px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink": "http://www.w3.org/1999/xlink" }
        %g{ fill: "none", "fill-rule": "evenodd", stroke: "none", "stroke-width": "1" }
          %g.checkbox__check-icon{ id: "checkbox/v5/normal", "stroke-width": "3", transform: "translate(-5.000000, -7.000000)" }
            %polyline{ points: "6 10.8871576 10.8384674 15.725625 18.3941768 8" }
    .task-title__text
      %h2.task-title__task-name ToDoリストの使い方確認
      .task-title__task-deadline 12ヶ月前〜9ヶ月前
  .task-progress
    .task-progress__frame
      .task-progress__bar.-percent100
  %p.about-task__overview
    ふたりのToDoリストは、結婚式準備を効率良く行いたい人のための専用ToDoツールです。
    %br
    %br
    それぞれのやることには下のような細かいタスクが登録されています。タスクの期日は目安です。全てにチェックを付けて結婚式準備を開始しましょう！
  .task-item-container
    :ruby
      tasks = [
        ["完了したタスクにチェックを付けましょう", "12ヶ月前〜9ヶ月前", "done", "task__tutorial-0.html"],
        ["一括操作は画面左上のチェックを押します", "12ヶ月前〜9ヶ月前", "done", "#"],
        ["困ったら下の関連記事を読んでみましょう", "12ヶ月前〜9ヶ月前", "done", "#"]
      ]
    - for task in tasks
      %a.task-item{ href: "#{task[3]}" , class: "-#{task[2]}" }
        .checkbox{ class: "-#{task[2]}" }
          %svg{ height: "11px", version: "1.1", viewbox: "0 0 15 11", width: "15px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink": "http://www.w3.org/1999/xlink" }
            %g{ fill: "none", "fill-rule": "evenodd", stroke: "none", "stroke-width": "1" }
              %g.checkbox__check-icon{ id: "checkbox/v5/normal", "stroke-width": "3", transform: "translate(-5.000000, -7.000000)" }
                %polyline{ points: "6 10.8871576 10.8384674 15.725625 18.3941768 8" }
        .task-item__text
          .task-item__task-title #{task[0]}
          .task-item__task-deadline #{task[1]}

  .about-task__share
    .os1-default-button
      %a.os1-default-button__item{ href: "#" }
        %span.os1-default-button__text 予定をカレンダーに追加する
        %span.os1-default-button__sub-text カレンダーアプリが開きます
    .os1-default-button
      %a.os1-default-button__item{ href: "https://social-plugins.line.me/lineit/share?url=%E3%81%B5%E3%81%9F%E3%82%8A%E3%81%AEToDo%E3%83%AA%E3%82%B9%E3%83%88%E3%81%AE%E4%BD%BF%E3%81%84%E6%96%B9%E3%81%AE%E7%A2%BA%E8%AA%8D%0Ahttps%3A%2F%2Ffutalist.mwed.jp%2Ftask%2F0%0A%0A%E2%98%91%E5%AE%8C%E4%BA%86%E3%81%97%E3%81%9F%E3%82%BF%E3%82%B9%E3%82%AF%E3%81%AB%E3%83%81%E3%82%A7%E3%83%83%E3%82%AF%E3%82%92%E4%BB%98%E3%81%91%E3%81%BE%E3%81%97%E3%82%87%E3%81%86%0A%E2%98%91%E4%B8%80%E6%8B%AC%E6%93%8D%E4%BD%9C%E3%81%AF%E7%94%BB%E9%9D%A2%E5%B7%A6%E4%B8%8A%E3%81%AE%E3%83%81%E3%82%A7%E3%83%83%E3%82%AF%E3%82%92%E6%8A%BC%E3%81%97%E3%81%BE%E3%81%99%0A%E2%98%91%E5%9B%B0%E3%81%A3%E3%81%9F%E3%82%89%E4%B8%8B%E3%81%AE%E9%96%A2%E9%80%A3%E8%A8%98%E4%BA%8B%E3%82%92%E8%AA%AD%E3%82%93%E3%81%A7%E3%81%BF%E3%81%BE%E3%81%97%E3%82%87%E3%81%86" }
        %span.os1-default-button__text LINEで送る
        %span.os1-default-button__sub-text LINEアプリが開きます

  .related-articles
    %h3.os1-title.-h3 次にやること
    %a.task-card{ href: "task__decide-the-wedding-hall-0.html" }
      .task-card__infomation
        .task-card__name 式場を決める
        .task-progress
          .task-progress__frame
            .task-progress__bar.-percent0
      .task-card__arrow
        %span.os1-symbol-arrow-right
    %a.task-card{ href: "#" }
      .task-card__infomation
        .task-card__name ゲストの出欠確認
        .task-progress
          .task-progress__frame
            .task-progress__bar.-percent0
      .task-card__arrow
        %span.os1-symbol-arrow-right
    = partial( "tasklist-seemore", locals: { href: "normal-1__tasklist.html" } )

%footer.os1-form-footer
  %p.os1-form-footer__links
    %a.os1-form-footer__link{ href: "#" } 会社概要
    |
    %a.os1-form-footer__link{ href: "#" } 会員規約
    |
    %a.os1-form-footer__link{ href: "#" } プライバシーポリシー
  %p.os1-form-footer__copyright &copy; Minnano Wedding Co., Ltd.
